{% extends 'adminnavbar.html' %}



{% block content %}


<div class="div">

    <br><br>
    <a id="add" href="register">Add Employee</a> <a id="generatepdf" href="generatepdf">Generate Pdf</a><br><br>



        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">E mail</th>
                <th scope="col">Position</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
                {% for emp in details %}
                <tr>
                <td>{{emp.empid}}</td>
                <td>{{emp.fname}}</td>
                <td>{{emp.lname}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.position}}</td>
                <td><a id="update" href="{% url 'update_emp' emp.id %}">Update</a> <a id="delete" href="{% url 'delete_emp' emp.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        <table>
</div>





{% endblock %}