
{% extends 'baseNavbar.html' %}



{% block content %}
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Change Password</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" action="changepassword" method="post" novalidate>
                        {%csrf_token%}

                        <div class="col-md-12">
                            <input class="form-control" type="hidden" name="empid" value="{{empid}}" 
                                required>
                        </div>
                        

                        <div class="col-md-12">
                            <input class="form-control" type="password" name="password" placeholder="Enter new password"
                                required>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="password" name="passwordc" placeholder="Reenter password"
                                required>
                        </div>
                        

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
    
